@charset: "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha/Sriracha-Regular.ttf) format('opentype');
    font-weight: normal; 
}

@font-face {
    font-family: 'Passion One';
    src: url(fontes/Passion_One/PassionOne-Bold.ttf) format('opentype');
    font-weight: normal;
}

body{
    background-color: white;
}

*{
    margin: 0px;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
    min-height: 150px;
}

header > h1{
    font-size: 5.9em;
    font-family: 'Passion One';
    min-width: 300px;
    max-width: 1000px;

}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 300px;
    max-width: 1000px;
}

header > p > a{
    text-decoration: none;
    color: white;
    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header > p >a:hover{
    text-decoration: underline;
}

#primeiroparagrafo{
    margin-top: 60px;
}

.fundobranco{
    font-family: 'Sriracha';
    font-size: 3.5em;
    margin: 25px;
    font-weight: normal;
}

p{
    min-width: 300px;
    max-width: 1000px;
}